<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.SysUserMapper" >

    <resultMap id="userResultMap" type="com.example.demo.entity.SysUser" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="login_name" property="loginName" jdbcType="VARCHAR" />
        <result column="login_pw" property="loginPw" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="mobile" property="mobile" jdbcType="VARCHAR" />
        <result column="email" property="email" jdbcType="VARCHAR" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
        <result column="creation_time" property="creationTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="userParam">
        us.id,
        us.name,
        us.mobile,
        us.email,
        us.remark,
        us.creation_time
    </sql>

    <select id="selectByName" resultMap="userResultMap" parameterType="java.lang.String">
        select
        <include refid="userParam"/>,
        us.login_name,
        us.login_pw
        from sys_user us
        where  us.login_name = #{loginName}
    </select>

</mapper>